<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-lazy-init="false">

	<bean id="stat-filter"
		class="com.alibaba.druid.filter.stat.StatFilter">
		<property name="slowSqlMillis" value="3000" />
		<property name="logSlowSql" value="true" />
	</bean>

	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>${db.mysql.driver}</value>
		</property>
		<property name="url">
			<value>${db.mysql.url}</value>
		</property>
		<property name="username">
			<value>${db.mysql.username}</value>
		</property>
		<property name="password">
			<value>${db.mysql.password}</value>
		</property>
		<property name="proxyFilters">
			<list>
				<ref bean="stat-filter" />
			</list>
		</property>
		<!--最大连接数-->
		<property name="maxActive">
			<value>15</value>
		</property>
		<!--初始化配置-->
		<property name="initialSize">
			<value>3</value>
		</property>
		<!--连接超时时间-->
		<property name="maxWait">
			<value>5000</value>
		</property>
		<!--最小连接数-->
		<property name="minIdle">
			<value>3</value>
		</property>
		<property name="removeAbandoned">
			<value>true</value>
		</property>
		<!-- 关闭abanded连接时输出错误日志 -->
		<property name="logAbandoned" value="true" />
		<property name="removeAbandonedTimeout">
			<value>1800</value>
		</property>
		<!--在获取连接后，确定是否要进行连接空间时间的检查-->
		<property name="testWhileIdle">
			<value>true</value>
		</property>
		<!-- 打开检查,用异步线程evict进行检查 获取连接检测 -->
		<property name="testOnBorrow">
			<value>true</value>
		</property>
		<!--	归还连接检测-->
		<property name="testOnReturn">
			<value>false</value>
		</property>
		<property name="validationQuery">
			<value>select 1</value>
		</property>
		<!--最大空闲时间(单位ms)-->
		<property name="minEvictableIdleTimeMillis">
			<value>1800000</value>
		</property>
		<!--连接有效性检测时间(单位:ms)-->
		<property name="timeBetweenEvictionRunsMillis">
			<value>90000</value>
		</property>
		<property name="numTestsPerEvictionRun">
			<value>50</value>
		</property>
	</bean>
<!-- 
	<bean id="dataSourceOracle" class="com.alibaba.druid.pool.DruidDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>${db.oracle.driver}</value>
		</property>
		<property name="url">
			<value>${db.oracle.url}</value>
		</property>
		<property name="username">
			<value>${db.oracle.username}</value>
		</property>
		<property name="password">
			<value>${db.oracle.password}</value>
		</property>
		<property name="proxyFilters">
			<list>
				<ref bean="stat-filter" />
			</list>
		</property>
		<property name="maxActive">
			<value>50</value>
		</property>
		<property name="initialSize">
			<value>5</value>
		</property>
		<property name="maxWait">
			<value>60000</value>
		</property>
		<property name="minIdle">
			<value>5</value>
		</property>
		<property name="removeAbandoned">
			<value>true</value>
		</property>
		<property name="logAbandoned" value="true" />
		<property name="removeAbandonedTimeout">
			<value>1800</value>
		</property>
		<property name="testWhileIdle">
			<value>true</value>
		</property>
		<property name="testOnBorrow">
			<value>true</value>
		</property>
		<property name="testOnReturn">
			<value>false</value>
		</property>
		<property name="validationQuery">
			<value>select 1 from dual</value>
		</property>
		<property name="minEvictableIdleTimeMillis">
			<value>300000</value>
		</property>
		<property name="timeBetweenEvictionRunsMillis">
			<value>60000</value>
		</property>
		<property name="numTestsPerEvictionRun">
			<value>50</value>
		</property>
	</bean>
 -->

</beans>